* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

/* banner styles  */
.banner {
  width: 100%;
  height: 100vh;
  background-image: url(../images/banner/banner1.png);
  background-position: center;
  background-size: cover;
  text-align: right;
}

.banner-content {
  padding-right: 230px;
}

.banner-title {
  padding-top: 216px;
  font-weight: 700;
  font-size: 65px;
}

.banner-description {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 32px;
  margin-top: 24px;
}



/* button styles */
.btn-1 {
  width: 160px;
  height: 64px;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: #f15b22;
  border-radius: 10px;
  border: none;
}
.btn-2 {
  width: 160px;
  height: 64px;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  border-radius: 10px;
}
.btn-1:hover,
.btn-2:hover {
  color: #ffffff;
  background: #dd470b;
  cursor: pointer;
}



/* failure section styles */
.failure {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;
}

.primary-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

.failure-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-top: 24px;
  margin-bottom: 20px;
}

.failure-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}

.mark-symbol {
  color: rgb(1, 221, 1);
  font-weight: bolder;
}



/* hadis section */
.hadis {
  width: 70%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/banner/namaz.jpg);
  background-position: center;
  background-size: cover;
  text-align: right;
  margin: 0 auto;
  color: rgb(150, 143, 141);
  text-align: justify;
  padding-left: 200px;
  padding-bottom: 100px;
  border-radius: 50px;
  margin-top: 250px;
}

.hadis:hover {
  color: rgb(255, 255, 255);
  cursor: grab;
}

.hadis-content {
  padding-right: 230px;
}

.hadis-title {
  padding-top: 150px;
  font-weight: 700;
  font-size: 65px;
  text-shadow: 3px 4px 4px rgb(10, 10, 10);
}



/* plan section styles */
.plan {
  text-align: center;
  margin-bottom: 200px;
}

#plan-title {
  padding-top: 150px;
  padding-bottom: 60px;
}
.plan-list {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style: none;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

.plan-sub {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #737272;
  padding-top: 10px;
}

.plan img:hover {
  width: 100px;
}



/* positive section styles */
.watch {
  background-image: url(../images/watch.png);
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: cover;
  height: 300px;
  width: 1140px;
  left: 230px;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 130px;
}

.positive-text {
  padding-left: 64px;
  padding-top: 59px;
}

.positive {
  background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%);
  height: 300px;
  border-radius: 20px;
}

.keep {
  margin-bottom: 25px;
}




/* footter styles */
.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: #151414;
  color: #ffffff;
}

.footer-container p {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
}

.mailbox {
  width: 325px;
  height: 64px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background: #151414;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 0 15px;
}

.future img {
  margin-right: 15px;
}

.future img:hover {
  cursor: pointer;
  width: 50px;
}

.footer-description {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
}

footer {
  background: #151414;
  height: 577px;
  padding-top: 130px;
}


/* end for now ,date january 7 ,2022 , 2:31pm */